.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25em;
  min-height: 35em;
  border-radius: 32px;
  background-color: #8d8c8c;
  border: solid 5px #4e4e4e;
  text-align: center;
  margin-bottom: 3em;
}

.card .title {
  margin: 0 auto 0 auto;
  padding: 1rem;
  max-width: 80%;
  min-width: 80%;
  border-radius: 0 0 16px 16px;
  color: #fafafa;
  background-color: rgba(216, 53, 53, 0.897);
  word-wrap: break-word;
  word-break: normal;
}

.card .descriptionSpan {
  margin: auto;
  width: 95%;
  word-wrap: break-word;
  overflow: auto;
  height: 5em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  margin-top: 1em;
}

.card .genresAndReleaseDateDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  width: 90%;
}

.card .genresAndReleaseDateDiv .releaseDateDiv {
  width: 35%;
  border-left: solid 2px rgba(83, 83, 83, 0.397);
}

.card .genresAndReleaseDateDiv .genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  width: 55%;
  height: 3em;
}

.card .genresAndReleaseDateDiv .genres .genre {
  margin-right: 1em;
}

.card .img {
  margin: 1em 4px 0 4px;
  height: 15em;
  border: inset 3px rgba(0, 0, 0, 0.411);
}

.card .deleteButton {
  display: block;
  position: absolute;
  border-radius: 0 0 26px 26px;
  bottom: 0;
  right: 0;
  height: 3em;
  width: 100%;
  background-color: #6e6e6e;
  border: none;
  font-size: 1em;
}
