.hideButton {
    width: fit-content;
    height: 3em;
}
.hidden{ 
    display: none;
}
form {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: groove 3px black;
    border-radius: 32px;
    padding: 2em;
    background-color: rgb(141, 140, 140);
    .inputField {
        display: flex;
        flex-direction: column;
        width: 100%;
        label {
            width: fit-content;
            padding: 2px;
            border-radius: 7px;
            border: outset 4px rgb(158, 157, 157);
            background-color: aliceblue;
            margin-bottom: 1em;
        }
        input {
            border-radius: 7px;
            background-color: grey;
            border: groove 3px black;
            padding: 10px;
            margin-bottom: 2em;
            color: white;
        }
        textarea {
            max-width: 100%;
            min-width: 100%;
            height: 5em;
            border-radius: 7px;
            background-color: grey;
            border: groove 3px black;
            background-color: grey;
            margin-bottom: 2em;
            color: white;
        }
    }
    button {
        margin: auto;
        width: fit-content;
        padding: 1em;
    }
}